<!doctype html>


{% extends "layout_p1.html" %}
{% block title %}Stan stołu{% endblock %}

{% block content %}
<br><br><center>
<table style="border: 0px;">
    <tr> <td>
        <figure tabindex="-1">
        <!-- NACZYNIE 1 -->
        <div class="e" id="Kielich0" style="padding: 25px; text-align: center;   height: 70px; width: 70px;" >
            {% if naczynia_db[0][3] == 0 %} 
            <img src="{{ url_for('static', filename = 'shot-glass_empty.png') }}" width="32" height="32">
            {% endif %}
            {% if naczynia_db[0][3] == 1 %} 
            <img src="{{ url_for('static', filename = 'shot-glass_full.png') }}" width="32" height="32">
            {% endif %}
            <br><br>{{naczynia_db[0][0]}}<br>{{naczynia_db[0][2]}}</div>
            <nav class="menu">
                <ul>
                  <li>
                    <form action="/ui/action_sender" method="POST">
                      <input type="hidden" name="Polecenie" value="<srv_nalsin;0;>">
                      <input name="OK" type="submit" value="Nalewanie" size="20">
                  </form>
                    
                  </li>
                  <li>
                    <form action="/ui/action_sender" method="POST">
                      <input type="hidden" name="Polecenie" value="<n_un;>">
                      <input name="OK" type="submit" value="Odblokuj" size="20">
                  </form>

                  </li>
                  <form action="/ui/action_sender" method="POST">
                    <input type="hidden" name="Polecenie" value="<n_l;>">
                    <input name="OK" type="submit" value="Zablokuj" size="20">
                </form>
                </ul>
            </figure>
            
          
        
        </td>
        
        
        
        <td width="500"></td>
        
        <td>
            
        <!-- NACZYNIE 5 -->
            <div class="e" id="Kielich0" style="padding: 25px; text-align: center;  height: 70px; width: 70px;" >
                {% if naczynia_db[4][3] == 0 %} 
                <img src="{{ url_for('static', filename = 'shot-glass_empty.png') }}" width="32" height="32">
                {% endif %}
                {% if naczynia_db[4][3] == 1 %} 
                <img src="{{ url_for('static', filename = 'shot-glass_full.png') }}" width="32" height="32">
                {% endif %}
                <br><br>{{naczynia_db[4][0]}}<br>{{naczynia_db[4][2]}}</div>
            
            </td>



            </tr></table><br>


<table style="border: 0px;">
    <tr> <td>  
         <!-- NACZYNIE 2 -->
        <div class="e" id="Kielich0" style="padding: 25px; text-align: center;  height: 70px; width: 70px;" >
            {% if naczynia_db[1][3] == 0 %} 
            <img src="{{ url_for('static', filename = 'shot-glass_empty.png') }}" width="32" height="32">
            {% endif %}
            {% if naczynia_db[1][3] == 1 %} 
            <img src="{{ url_for('static', filename = 'shot-glass_full.png') }}" width="32" height="32">
            {% endif %}
            <br><br>{{naczynia_db[1][0]}}<br>{{naczynia_db[1][2]}}</div>
        
        
        </td>
        <td width="175"></td>
        <td>
              <!-- NACZYNIE 4 -->
              <div class="e" id="Kielich0" style="padding: 25px; text-align: center;  height: 70px; width: 70px;" >
                {% if naczynia_db[3][3] == 0 %} 
                <img src="{{ url_for('static', filename = 'shot-glass_empty.png') }}" width="32" height="32">
                {% endif %}
                {% if naczynia_db[3][3] == 1 %} 
                <img src="{{ url_for('static', filename = 'shot-glass_full.png') }}" width="32" height="32">
                {% endif %}
                <br><br>{{naczynia_db[3][0]}}<br>{{naczynia_db[3][2]}}</div></td></tr>
</table>



<br>
<table style="border: 0px;">
    <tr> <td>   <!-- NACZYNIE 3 -->
        <div class="e" id="Kielich0" style="padding: 25px; text-align: center;  height: 70px; width: 70px;" >
            {% if naczynia_db[2][3] == 0 %} 
            <img src="{{ url_for('static', filename = 'shot-glass_empty.png') }}" width="32" height="32">
            {% endif %}
            {% if naczynia_db[2][3] == 1 %} 
            <img src="{{ url_for('static', filename = 'shot-glass_full.png') }}" width="32" height="32">
            {% endif %}
            <br><br>{{naczynia_db[2][0]}}<br>{{naczynia_db[2][2]}}</div>
        
        
        </td></tr>
</table>

<br><br>
</center>


{% endblock %}

