<!doctype html>


{% extends "layout_p1.html" %}
{% block title %}Index{% endblock %}
<style>
    .btn-link {
        border: none;
        outline: none;
        background: none;
        cursor: pointer;
        color: #0000EE;
        padding: 0;
        text-decoration: underline;
        font-family: inherit;
        font-size: inherit;
    }
    </style>

{% block content %}
  <h1>Index</h1>
  <p class="important">
    Welcome on my awesome homepage.

   
        <form action="/" method="POST">
            <input name="text">i
            <input name="przycisk" type="submit" value="Wyslij polecenie"/><br><br>
             
        </form>
     <br><br>
<form action="/" method="post">
    <button type="submit" name="text" value="<una;>" class="btn-link">Wyczyść wszyskie</button>
</form>      

<a href="/komd/" >magia</a>

{% endblock %}

