<!doctype html>
<style>
.btn-link {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    color: #0000EE;
    padding: 0;
    text-decoration: underline;
    font-family: inherit;
    font-size: inherit;
}
</style>


<head><title>Test</title> 
    <meta charset=utf-8> </head>
    <body>
        <h1>My Website</h1>
        <form action="/" method="POST">
            <input name="text">i
            <input name="przycisk" type="submit" value="Wyslij polecenie"/><br><br>
             
        </form>
     <br><br>
<form action="/" method="post">
    <button type="submit" name="text" value="<una;>" class="btn-link">Wyczyść wszyskie</button>
</form>      

<a href="/komd/" >magia</a>

    </body>
